body, html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

audio {
  position: absolute;
  top: -100px;
  left: -100px;
}

#canvas {
  background: url(../img/wall.jpg) center top no-repeat;
  background-size: cover;
  cursor: url(../img/cursor-target.png) 25 25, auto;
  width: 100%;
  height: 100%;
}


.target {
    width: 100px;
    height: 200px;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    opacity: 0;
    margin-top: 30px;
}

.target.terrorist {  background-image: url(../img/target-terrorist.png); }
.target.terrorist.dead {  background-image: url(../img/target-terrorist-dead.png);  }

.target.dead {
  transition: opacity 0.5s linear;
  opacity: 0;
  
  -webkit-animation-name: dead;
  animation-name: dead;
  
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes dead {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes dead {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    -ms-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    -ms-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}